## Deliverable 3. Create a Travel Itinerary Map.

In [467]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)
import matplotlib as plt
# Import API key
import matplotlib.pyplot as plt
import numpy as np
import seaborn
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [468]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation2_df = pd.read_csv("Weather_Database/City_ID.csv")
vacation2_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,72.48,scattered clouds,-23.12,-134.97,Pension Maro'i
1,1,Yumen,CN,86.54,overcast clouds,40.28,97.20,NaN
2,2,Winnemucca,US,53.60,clear sky,40.97,-117.74,Winners Inn Casino
3,4,Tasiilaq,GL,48.20,broken clouds,65.61,-37.64,The Red House
4,5,Sangar,RU,65.59,clear sky,63.92,127.47,NaN

In [469]:
# 7. Drop the rows where there is no Hotel Name.
vacation2_df.isnull().sum()
vacation3_df = vacation2_df.dropna(how='any')
vacation3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,72.48,scattered clouds,-23.12,-134.97,Pension Maro'i
2,2,Winnemucca,US,53.60,clear sky,40.97,-117.74,Winners Inn Casino
3,4,Tasiilaq,GL,48.20,broken clouds,65.61,-37.64,The Red House
5,6,Butaritari,KI,82.60,scattered clouds,3.07,172.79,Isles Sunset Lodge
6,7,Cayenne,GF,75.20,light rain,4.93,-52.33,Hôtel Le Dronmi
...,...,...,...,...,...,...,...,...
548,565,Kloulklubed,PW,82.40,broken clouds,7.04,134.26,Storyboard Beach Resort
549,566,Port Macquarie,AU,51.01,few clouds,-31.43,152.92,Rydges Port Macquarie
550,567,Kapuskasing,CA,50.00,mist,49.42,-82.43,Park Inn Motel
551,568,Sinnamary,GF,77.67,light rain,5.38,-52.95,ALETHEIA Appartement Sinnamary
552,569,Zhigansk,RU,65.64,few clouds,66.77,123.37,Gostinichnyy Kompleks Aylgy

In [470]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database/vacation3_df.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="vacation3_df")

In [471]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation3_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation3_df[["Lat", "Lng"]]

In [472]:
# 4a. Add a marker layer for each city to the map.

vacation_map = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_map.add_layer(marker_layer)
# 4b. Display the figure
vacation_map

Figure(layout=FigureLayout(height='420px'))

In [473]:
vacation_df = vacation3_df.set_index("City")
vacation_df

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Rikitea,0,PF,72.48,scattered clouds,-23.12,-134.97,Pension Maro'i
Winnemucca,2,US,53.60,clear sky,40.97,-117.74,Winners Inn Casino
Tasiilaq,4,GL,48.20,broken clouds,65.61,-37.64,The Red House
Butaritari,6,KI,82.60,scattered clouds,3.07,172.79,Isles Sunset Lodge
Cayenne,7,GF,75.20,light rain,4.93,-52.33,Hôtel Le Dronmi
...,...,...,...,...,...,...,...
Kloulklubed,565,PW,82.40,broken clouds,7.04,134.26,Storyboard Beach Resort
Port Macquarie,566,AU,51.01,few clouds,-31.43,152.92,Rydges Port Macquarie
Kapuskasing,567,CA,50.00,mist,49.42,-82.43,Park Inn Motel
Sinnamary,568,GF,77.67,light rain,5.38,-52.95,ALETHEIA Appartement Sinnamary
Zhigansk,569,RU,65.64,few clouds,66.77,123.37,Gostinichnyy Kompleks Aylgy

In [491]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation3_df.loc[vacation3_df["City"] == "Port Alfred"]
vacation_end = vacation3_df.loc[vacation3_df["City"] == "Port Alfred"]
vacation_stop1 = vacation3_df.loc[vacation3_df["City"] == "East London"]
vacation_stop2 = vacation3_df.loc[vacation3_df["City"] == "Cape Town"] 
vacation_stop3 = vacation3_df.loc[vacation3_df["City"] == "Ulundi"] 
vacation_start
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
70,76,Port Alfred,ZA,84.72,clear sky,-33.59,26.89,The Halyards Hotel

In [500]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start.iloc[0]['Lat'],vacation_start.iloc[0]["Lng"]))
end =  (vacation_end.iloc[0]['Lat'],vacation_end.iloc[0]["Lng"])
stop1 = (vacation_stop1.iloc[0]['Lat'],vacation_stop1.iloc[0]["Lng"])
stop2 = (vacation_stop2.iloc[0]['Lat'],vacation_stop2.iloc[0]["Lng"])
stop3 = (vacation_stop3.iloc[0]['Lat'],vacation_stop3.iloc[0]["Lng"])
start

(-33.59, 26.89)

In [501]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
start = (start[0], start[1])
end =  (end[0], end[1])
stop1 = (stop1[0], stop1[1])
stop2 = (stop2[0], stop2[1])
stop3 = (stop3[0], stop3[1])

Travel_map = gmaps.figure()
start2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
Travel_map.add_layer(start2end_via_stops)
plt.savefig("Weather_Database/Travel_map.png")
Travel_map

Figure(layout=FigureLayout(height='420px'))

In [502]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3,] , ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,76,Port Alfred,ZA,84.72,clear sky,-33.59,26.89,The Halyards Hotel
1,116,East London,ZA,82.40,clear sky,-33.02,27.91,Tu Casa
2,45,Cape Town,ZA,73.00,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
3,464,Ulundi,ZA,81.37,clear sky,-28.34,31.42,Ekhethelo Lodge

In [503]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [510]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
Four_city_map = gmaps.figure(center=(30.0, 60.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
Four_city_map.add_layer(marker_layer)
output_data_file = "Weather_Database/Four_city_map.png"
plt.savefig("Weather_Database/Four_city_map.png")

# 11b. Display the figure
Four_city_map

NameError: name 'embed_minimal_html' is not defined